@font-face
{
    font-family: "Domine";
    src: url("../fonts/Domine-VariableFont_wght.ttf");
}

:root
{
    background-color: rgb(77, 77, 77);
}


body
{
    margin:0;
}

a
{
    color: inherit;
    text-decoration: none;
    margin: 0%;
    padding: 0%;
}


/* NAVBAR */

header
{
    position: fixed;
    top: 0px;
    left: 0px;
    float: left;
    background-color: rgb(25, 25, 25);
    color: white;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
    width: 30vw;
    margin: 0;
}

.header-item
{
    padding:3px;
}

.header-item li:hover
{
    color: gray;
}

.header-item a:hover
{
    color: gray;
}

.dropdown-content
{
    display:none;
    font-weight: normal;
}


.dropdown-content > a
{
    border-top: 1px solid gray;
}


.dropdown:hover .dropdown-content
{
    display: grid;
    grid-template-columns: 1fr;
}

.dropdown
{
    transition: all 0.5s ease-out;
    font-weight: bold;
}

#side-menu li
{
    border-top: 1px solid gray;
    width: 80%;
    list-style-type: none;
}

#side-menu li:last-child
{
    border-bottom: 1px solid gray;
    width: 80%;
}

#site-logo
{
    display: block;
    width: 80%;
    margin: auto;
}

/* FOOTER */

footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5vh;
    background-color: red;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}

footer a
{
    margin:0;
    display: inline;
    font-family: "Domine", Georgia, 'Times New Roman', Times, serif;
    color: white;
    border-radius: 5px;
    padding: 2px;
}

footer a:hover
{
    background-color: darkred;
}

/* WEBSITE BODY */

main
{
    position: relative;
    left: 30vw;
    width: 70vw;
    margin:0;
    padding: 0;
}

.article-actualite
{
    background-color: white;
    width: 80%;
    position: relative;
}

.article-actualite > img
{
    width: 100%;
    height: auto;
}

.article-video-container
{
    position: relative;
    width: 80%;
    padding-top: 56.25%;
    overflow: hidden;

}

.article-video-container > iframe
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.article-actualite > h2,h3,p,a,div,label,textarea,button, video
{
    margin: 5% 10% 0% 10%;
}


.small-icon
{
    max-width: 10px;
    max-height: 10px;
}

.article-footer
{
    margin-left: 0;
    margin-right: 0;
    background-color: rgb(197, 197, 197);
    padding: 5% 10% 5% 10%;
    font-family: "Domine", Arial, Helvetica, sans-serif;
    line-height: 1.8;
    font-size: 1.4 rem;
}

.article-footer img
{
    margin-right: 2px;
}

.article-footer a
{
    margin-left: 1px;
    margin-right: 0;
}

.article-footer > span
{
    margin-right: 5%;
    white-space: nowrap;
}

.media-source
{
    border-top: 1px solid gray;
    padding-top: 1vh;
}

.article-link:hover
{
    text-decoration: underline;
    color: darkorchid;
}

.article-titre
{
    font-family: "Domine", Georgia, 'Times New Roman', Times, serif;
    font-size: 2.8rem;
}

.article-body-short, .article-content
{
    font-family: "Domine", Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    line-height: 1.8;
}

/* FULL ARTICLE PAGE */

.fb-link
{
    margin: 0px;
}

/* comment form*/

#comment
{
    width: 100%;
    margin-top: 0%;
}

.label-comment
{
    bottom: 100%;
    left: 0;    
}

.input-block
{
    margin: 5% 0% 5% 0%;
    width: 80%;
}

#name, #email, #website
{
    position: relative;
    left: 10%;
    width: 100%;
}

.submit-comment
{
    position: relative;
    background-color: rgb(81, 81, 81);
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    color:white;
    margin-bottom: 5%; /*does not work to extend the margin and push the parent div towards the bottom */
}

h3
{
    margin-top: 5vh;
    font-family: "Domine", Georgia, 'Times New Roman', Times, serif;
    font-size: 2.5rem;
}


/* PALMARES */

.article-palmares
{
    background-color: white;
    width: 80%;
    position: relative;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.article-palmares > img
{
    width: 100%;
    height: auto;
}

.article-palmares > h3,p,a,div,label,textarea,button
{
    margin: 5% 10% 0% 10%;
}

.article-palmares > h2
{
    margin: 5% 10% 5% 10%;
}

/* RESULTATS */

.article-resultats
{
    background-color: white;
    width: 80%;
    position: relative;
    padding-top: 5vh;
    padding-bottom: 5vh;
}


.article-resultats > h4,h3,p,a,div,label,table
{
    margin: 5% 10% 0% 10%;
}

.article-resultats > h2
{
    margin: 5% 10% 5% 10%;
}

#table-resultats
{
    width: 80%;
    border: 1px solid lightgray;
    border-collapse: collapse;
}

#table-resultats th, td
{
    border: 1px solid lightgray;
    text-align: left;
}

.article-resultats > .result-content-date,.result-content-result
{
    line-height: 1;
    margin-top: 2vh;
}

.article-resultats > .result-content-date
{
    font-weight: bold;
}

.article-resultats h4
{
    font-size: 2rem;
    font-family: "Domine", Georgia, 'Times New Roman', Times, serif;
}

/* FULL ARTICLE */

.article-article
{
    background-color: white;
    width: 80%;
    position: relative;
    padding-top: 5vh;
    padding-bottom: 5vh;
}


.article-article > h4,h3,p,a,div,label,table
{
    margin: 5% 10% 0% 10%;
}

.article-article > h2
{
    margin: 5% 10% 5% 10%;
}


/* ------------------- MEDIA QUERIES MOBILE -----------------------*/

@media (width < 780px) {
    header
    {
        position: static;
        float: none;
        width: 100vw;
        overflow: hidden;
        height: auto;
    }

    body 
    {
        position: static;
        width: 100vw;
    }

    main 
    {
       width: 100vw;
       left: 0; 
    }

    .article-actualite, .article-resultats, .article-palmares
    {
        width: 100%;
        margin: 0;
    }

    footer 
    {
        position: static;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
    }
}

#video
{
    width: 80%;
    margin-bottom: 7vh;
}